Flask==2.0.2
opentelemetry-api==1.6.1
opentelemetry-distro==0.25b1
opentelemetry-exporter-otlp==1.6.1
opentelemetry-instrumentation==0.25b1
opentelemetry-instrumentation-flask==0.25b1
opentelemetry-instrumentation-jinja2==0.25b1
opentelemetry-instrumentation-sqlite3==0.25b1
opentelemetry-instrumentation-requests==0.25b1
opentelemetry-sdk==1.6.1
requests==2.26.0