<div class="index-table">
   <div class="index-row">
      <div class="index-cell">
         <div class="card-div">
            <div class="card-header"></div>
            <div style = "padding: 0px 0px 0px 10px">
            <div style = "width: 280px;">
            <h2>Hosts</h2>
            <table style="width: 250px;">
            <div>
            <thead >
            <td>Name</td>
            <td>IP Address</td>
            <td>Operating System</td>
            </thead>        
            {% for i in rows %}
            <tr>
               <td>{{i[1]}}</td>
               <td>{{i[2]}}</td>
               <td>{{i[3]}}</td>
            </tr>
            {% endfor %}
            </table>
            </div>
            </div>
         </div>
      </div>
   </div>
</div>