{% extends "base.html" %}
{% block breadcrumbs %}
{% include "bread_settings.html" %}
{% endblock %}
{% block body%}
<div class="card-div">
  <div class="card-header"></div>
  <div style = "padding: 0px 0px 0px 10px">
  <h2>Change Password</h2>
  <div style="padding:10px"> 
    <form action="" method="POST">
    <input type="hidden" name="user_edit" value="{{user_edit}}">
      <div style="display:table; width:50%;">
      <div style="display: table-row;">
        <div style="display:table-cell">Enter New Password</div>
        <div style="display:table-cell"><input type="password" class="text-input" name="password" /></div>
      </div>
      </div>
      <br /><input type="submit" class="action-button" value="Submit" />
      {{user_edit}}
    </form>
  </div>
  </div>
</div>

{% endblock %}